# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Dev\AI_EX3_BIU\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
